{% extends "shuup/front/base.jinja" %}
{% from "shuup/front/macros/general.jinja" import render_field %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <h1 class="page-header text-center">
                {% trans %}Registration{% endtrans %}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-push-2 col-md-6 col-md-push-3">
            <div class="well">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form.hidden_fields() %}{{ field|safe }}{% endfor %}

                    <div id="basic">
                        {{ render_field(form.email) }}
                        {{ render_field(form.person_type) }}
                    </div>

                    <div id="pf">
                        {% for field in person_info_form.hidden_fields() %}{{ field|safe }}{% endfor %}
                        {{ render_field(person_info_form.cpf)|safe }}
                        {{ render_field(person_info_form.name)|safe }}
                        {{ render_field(person_info_form.rg)|safe }}
                        {{ render_field(person_info_form.birth_date)|safe }}
                        {{ render_field(person_info_form.gender)|safe }}
                    </div>

                    <div id="pj">
                        {% for field in company_info_form.hidden_fields() %}{{ field|safe }}{% endfor %}
                        {{ render_field(company_info_form.cnpj)|safe }}
                        {{ render_field(company_info_form.name)|safe }}
                        {{ render_field(company_info_form.taxation)|safe }}
                        {{ render_field(company_info_form.ie)|safe }}
                        {{ render_field(company_info_form.im)|safe }}
                        {{ render_field(company_info_form.responsible)|safe }}
                    </div>

                    <div id="pwd">
                        <strong>Senha de acesso</strong>
                        {{ render_field(form.password1) }}
                        {{ render_field(form.password2) }}
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="fa fa-check"></i> {% trans %}Register{% endtrans %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extrajs %}

<script src="{{ static("shuup_br/js/jquery.mask.min.js") }}"></script>
<script>
    $(function(){
        $("#{{ person_info_form.cpf.id_for_label }}").mask('000.000.000-00');
        $("#{{ company_info_form.cnpj.id_for_label }}").mask('00.000.000/0000-00');
    });

    function showHidePersonType(){
        if($("#{{ form.person_type.id_for_label }}").val() == '{{ PersonType.FISICA.value }}'){
            $("#pf").show();
            $("#pj").hide();
        }else{
            $("#pf").hide();
            $("#pj").show();
        }
    }

    $("#{{ form.person_type.id_for_label }}").change(function (){
        showHidePersonType();
    });

    $(document).ready(function (){
        showHidePersonType();
    });
</script>
{% endblock %}